*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* overflow:hidden; */
    overflow-x: hidden;
}
 /* landin page main div */
.main-div{
    width: 100%;
    height:100vh;
}
/* landin page main-div image */
.main-div .imges img{
    object-fit: cover;
    width: 100%;
    margin-left: 209px;
    margin-bottom: 50px;
    height:90vh;
    /* border: 1px solid #000; */
}
 .imges{
    /* position: relati/ve; */
    height: 80vh;
    width: 50vw;
    /* border: 10px solid #000; */
    position: absolute;
    right: 0;
    top: 0;
    left: 60;
    /* margin-top: 40px ; */
    margin-left: 404px ;
}
/* navbar logo  */
.logo{
    margin: 6px;
    width: 79%;
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
    display: flex;
}
/* navbar manu */
.navbar{
    width: 85%;
    margin: auto;
    padding: 45PX 0;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
}
/* navbar manu uk li*/
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    /* top: 40%; */
    padding: 10px 5px 10px;
    /* margin-bottom: 30px; */
    left: 40%;
    position: relative;
    /* padding-left: 30px; */
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* navbar manu uk li a*/
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'' ;
    height: 3px;
    width: 0%;
    background: hsl(12, 88%, 59%);
    position: absolute;
    left: 0;
    bottom:0px;
    transition: 0.6s;
}
.navbar ul li:hover:after{
    width: 100%;
}
/* navbar button  */
.navbar .btn{
    border: 1px solid hsl(12, 88%, 59%);
    border-radius: 20px;
    background-color:  hsl(12, 88%, 59%);
    box-shadow: 1px 5px 10px hsl(12, 88%, 59%);
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin: 0px 20px;
    /* top: 40%; */
    /* padding: 10px 5px 10px; */
    /* margin-bottom: 30px; */
    left: 40%;
    position: relative;
    /* padding-left: 30px; */
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar .btn:hover{
    color:rgb(36, 45, 82);
    background-color: hsl(12, 88%, 69%) ;
}
/* content div */
.content{
display: flex;
justify-content: space-between;
position: relative;
}
/* content div  heading right*/
.heading-1{
    margin: 70px 90px;
    /* text-transform: capitalize; */
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:rgb(36, 45, 82);
}
/* content div paragraph right*/
.parag-1{
    margin:0px 90px;
    /* text-transform: capitalize; */
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: gray;
}
/* content div  button right*/
.tnb{
    margin:0px 90px;
    padding: 10px ;
    color: white;
    border: 1px solid hsl(12, 88%, 59%);
    border-radius: 20px;
    background-color:  hsl(12, 88%, 59%);
    box-shadow: 1px 5px 10px hsl(12, 88%, 59%);
    font-family: "Archivo Black", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.tnb:hover{
    color: rgb(36, 45, 82);
    background-color: hsl(12, 88%, 69%) ;
}
/* second main div left right */
.second-main .first  :where(.left ,.right){
    width: 50%;

}
.second-main .first{
        display: flex;
}
/* second main div heading left */
.left h1{
    margin: 50px 90px;
    /* text-transform: capitalize; */
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(36, 45, 82);
}
/* second main div paragraph left */
.parag-2{
    margin: 50px 90px;
    text-transform: capitalize;
    font-family: "Archivo Black", sans-serif;
    font-weight: 300;
    font-style: normal;
    color:gray;
}
.left-img img{
height: 70vh;
position: absolute;
/* border: 1px solid #000; */
    width: 70%;
}
/* second main div img left */
.left-img{
    position: relative;
    right: 200px;
    bottom: 140px;
    margin-right: 620px;
    width: 100%;
    /* border: 1px solid #000; */
    mix-blend-mode: multiply;

}
.right{
    padding-top: 50px;
}
/* second main div number right */
.right span{
    border: 1px solid hsl(12, 88%, 59%);
    padding: 3px 20px;
    background-color: hsl(12, 88%, 59%) ;
    border-radius: 10px;
    box-shadow: 1px 5px 5px  hsl(12, 88%, 59%) ;
    color: white;
}
/* second main div paragraph left */
p{
    margin-left: 60px;
    /* text-transform: capitalize; */
    font-family: "Archivo Black", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: gray;
}
/* second main div heading right */
h3{
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(36, 45, 82);
}
 /* therid main div */
.therid-page{
    text-align: center;
    padding-top: 60px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(36, 45, 82);
}
 /* therid main div second div*/
.tps{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
 /* therid main div h3 p img*/
.section-1{
    /* margin-right: 50px; */
    margin-bottom: 20px;
    border: 1px solid;
    background-color: rgb(245, 234, 234);
    border: none;
}
/* therid main div h3 p img*/
.section-2{
    /* margin-right: 50px; */
    margin-bottom: 20px;
    border: 1px solid;
    background-color: rgb(245, 234, 234);
    border: none;
}
/* therid main div h3 p img*/
.section-3{
    /* margin-right: 50px; */
    margin-bottom: 20px;
    border: 1px solid;
    background-color: rgb(245, 234, 234);
    border: none;
}
/* therid main div button*/
.third{
    align-items: center;
    padding: 10px 20px ;
    border-radius: 50px ;
    background-color:  hsl(12, 88%, 59%);
    box-shadow: 1px 4px 10px  hsl(12, 88%, 59%);
    border: none;
    color: white;
}
.third:hover{
    color: rgb(36, 45, 82) ;
}
/* therid main div h3 p img :hover*/
.section-1:hover{
    box-shadow: 0 10px 15px  rgba(0, 0, 0, .3);
    transform: scale(1.02);
    /* color:gray; */
    background-color: rgb(219, 218, 218);
}
/* therid main div h3 p img :hover*/
.section-2:hover{
    box-shadow: 0 10px 15px  rgba(0, 0, 0, .3);
    transform: scale(1.02);
    /* color:gray; */
    background-color: rgb(219, 218, 218);
}
/* therid main div h3 p img :hover*/
.section-3:hover{
    box-shadow: 0 10px 15px  rgba(0, 0, 0, .3);
    transform: scale(1.02);
    /* color:gray; */
    background-color: rgb(219, 218, 218);
}
/* forth main div */
.forth-page{
    width: 100%;
    height: 15vh;
    background-color: hsl(12, 88%, 59%) ;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* forth main div  heading*/
.text{
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: white;
}
/* forth main div button */
.for{
    /* margin-left: 70%; */
    padding: 10px 10px;
    /* padding: 10px 20px; */
    border-radius: 50px ;
    background-color: white;
    box-shadow: 1px 4px 10px  hsl(12, 88%, 59%);
    border: none;
    color:  hsl(12, 88%, 59%);
}
/* forth main div  :hover*/
.for:hover{
    color: rgb(38, 43, 43);
    background-color: hsl(12, 88%, 69%) ;
}
/* five main div */
.five-page{
    width: 100%;
    height: 20vh;
    background-color:rgb(36, 45, 82);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
/* five main div logo*/
.icon-main{
    mix-blend-mode: multiply;
}
/* five main div icon*/
.icon img{
    width: 20px;
    display:inline;
    align-items: center;
    justify-content: center;
    margin: 9px;
    padding-top: 50px;
    
}
/* five main div manu */
.manu-bar ul li{
    list-style-type: none;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.manu-bar ul li a{
    text-decoration: none;
    color: white;
    /* text-transform: capitalize; */
}
/* five main div second manu*/
.c-manu ul li{
    list-style-type: none;
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.c-manu ul li a{
    text-decoration: none;
    color: white;
    /* text-transform: capitalize; */
}
/* five main div manu :hove*/
.manu-bar ul li a:hover{
    color: hsl(12, 88%, 59%);
}
/* five main div second manu :hove*/
.c-manu ul li a:hover{
    color:  hsl(12, 88%, 59%);
}
/* five main div search icon*/
.sng{
    padding: 10px;
    border-radius: 50px;
    border: none;
}
/* five main div search button*/
.six{
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: hsl(12, 88%, 59%) ;
    color: white;
    border: none;
    text-decoration: none;
    list-style-type: none;
}
/* five main div search button:hove*/
.six:hover{
    color: rgb(36, 45, 82);
}
a {
    color: white;
    
}
/* @media screen and (max-width: 600px) {
    .main-div {
      float: none;
      width: 100%;
    } */
    @media screen and (max-width: 800px) {
        .main-div {
          flex: 50%;
          max-width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px){
        .icon{
          flex: 100%;
          max-width: 100%;
        }
    }